pip==20.2.2
bump2version==1.0.0
wheel==0.35.1
watchdog==0.10.3
flake8==3.8.3
tox==3.19.0
coverage==5.2.1
Sphinx==3.2.1
twine==3.2.0
Click==7.1.2
pytest==6.0.1
pytest-runner==5.2
pandas==1.1.1
PyYAML==5.3.1
scikit-learn==0.23.2
sphinx-copybutton==0.3.1
sphinx_glpi_theme==0.3
importlib-metadata==1.6.0
